*{
    box-sizing: border-box;
}
body{
    margin:40px;
}

header{
    position: relative;
    font-size: 30px;
    background-color: #4aaaa5;
    color: whitesmoke;
    top: 30px;
    left: 70px;
    width: 320px;

}

.wrapper{
    height:960px;
    width: 960px;
}
    .links{
        position:relative;
        font-size:16px;
        float: right;
    }

#contact:hover{    
    color:purple;

}

#portfolio:hover{
    color:purple;

}

#index:hover{
    color:purple;

}
h1{
    margin-top:50px;
    color: #4aaaa5;
}

