*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin:40px;
    /* border-right: solid;
    border-left: solid;
    border-color: green;
    border-width: 1px; */
}
.top-box{
    position: static;
    background-color: white;
    width: 100%;
    height:100px;
}

h1{
    position: absolute;
    margin: 0, auto;
    font-size: 30px;
    background-color: #4aaaa5;
    color: whitesmoke;
    top: 40px;
    left: 280px;
    width: 400px;
    height: 80px;
    text-align: center;
    padding:22px;


}

.links{
    position:relative;
    text-emphasis: bolder;
    font-size:14px;
    top:50px;
    right:235px;
    padding:10px;
    float: right;
    
}
  

.container{
    clear: both;
    position: static;
    /* margin-left:80px; */
    /* padding-top: 30px; */
    height:850px;
    width:800;
    background-color: lightgrey;
    border-bottom: solid;
    border-color: #4aaaa5;
    border-width:10px;

}
    #marble {
        height:100%;
        width:100%;
        top: 0;
    }


    .wrapper{
        position: absolute;
        margin-left: 240px;
        margin-top:180px;
        /* padding-top:20px; */
        height:745px;
        width: 960px;
        background-color: #ffffff;
        top: 0;
        padding-left:20px;
        /* padding:10px; */
    
    
    }
    .head{
        /* background-color: lightblue; */
        border-bottom: 1px solid lightgrey;
        margin-right: 5px;
    }
    h2{
        color: #4aaaa5;
        padding-left:30px;
        /* padding-top: 10px; */
        text-align: left;
        border-bottom:1 solid lightgrey;
    }

    .row {
        position: relative;
        /* border-top: 1px solid lightgrey;
        margin-left:130px;
        /* background-color: blue; */
        /* width:600px;
        height:80%;
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px; */ 
    }

    img{
        height:200px;
        width:200px;
    }
    .column1 {
        flex: 50%;
        padding: 0 4px;
        width:50%;
        /* margin:20px; */
        position: absolute;
        left:0;
        text-align: center;
        background-color: white;
        
      }
      
      
      /* .column img {
        margin-top: 8px;
        vertical-align: middle;
        padding:20px;
      } */
/* #contact{   
    padding-left: 15px; 
    color:gray;

} */


#portfolio{
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    border-left: solid;
    border-right:solid;
    border-color: lightgray;
    border-width:1px;

}

#index{
    padding-right: 15px;
    color:gray;

}
#contact{
    padding-left: 15px;
    color:gray;

}
.icon1{
    position: relative;
    margin:10px;
    border: 1px solid lightgrey;
}
.hangman{
    height: 200px;
    width:200px;
}
.textblock1{
        position: absolute;
        background-color: #4aaaa5;
        color:white;
        font-weight:bolder;
        padding: 10px;
        height: 40px;
        width:199px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);  
}
.icon2{
    position: relative;
    margin:10px;
    border: 1px solid lightgrey;
}
.trivia{
    height: 200px;
    width:200px;
}
.textblock2{
        position: absolute;
        background-color: #4aaaa5;
        color:white;
        font-weight:bolder;
        padding-bottom: 10px;
        height: 40px;
        width:199px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);  
}
.icon3{
    position: relative;
    margin:10px;
    border: 1px solid lightgrey;
}
.rps{
    height: 200px;
    width:200px;
}
.textblock3{
        position: absolute;
        background-color: #4aaaa5;
        color:white;
        font-weight:bolder;
        padding: 10px;
        height: 40px;
        width:199px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);  
}
.column2{
    flex: 50%;
    padding: 0 4px;
    width:50%;
    /* margin:20px; */
    position: absolute;
    right:0;
    text-align: center;
    background-color: white;
    
  }

      .icon4{
        position: relative;
        margin:10px;
        border: 1px solid lightgrey;
    }
    .rpg{
        height: 200px;
        width:200px;
    }
    .textblock4{
            position: absolute;
            background-color: #4aaaa5;
            color:white;
            font-weight:bolder;
            padding: 10px;
            height: 40px;
            width:199px;
            top:70%;
            left: 50%;
            transform: translate(-50%, -50%);  
    }
    .icon5{
        position: relative;
        margin:10px;
        border: 1px solid lightgrey;
    }
    .rutgers{
        height: 200px;
        width:200px;
    }
    .textblock5{
            position: absolute;
            background-color: #4aaaa5;
            color:white;
            font-weight:bolder;
            padding: 10px;
            height: 40px;
            width:199px;
            top:70%;
            left: 50%;
            transform: translate(-50%, -50%);  
    }

footer{
    
    /* clear: both; */
    display: block;
    height:50px;
    background-color: #666666;
}


