*{
    box-sizing: border-box;
}
body{
    background-color: white;
    /* margin:40px; */
    /* background-color: blue; */
    /* border-right: solid;
    border-left: solid;
    border-color: green;
    border-width: 1px; */
}
.top-box{
    position: static;
    background-color: white;
    width: 100%;
    height:100px;
    top:0;
}

#contact{   
    padding-left: 15px; 
    color:grey;

}
#contact:hover{
    color:#6DF7F0;
}


#portfolio{
    padding-left: 15px;
    padding-right: 15px;
    color:grey;
    border-left: solid;
    border-right:solid;
    border-color: lightgray;
    border-width:1px;

}

#portfolio:hover{
    color:#6DF7F0;
}
#index{
    padding-right: 15px;
    color:grey;

}
#index:hover{
    color:#6DF7F0;
}

h1{
    font-family: times;
    position: absolute;
    margin: 0, auto;
    font-size: 30px;
    background-color: #4aaaa5;
    color: lightgoldenrodyellow;
    top: 8px;
    left: 250px;
    width: 400px;
    height: 80px;
    text-align: center;
    padding:22px;


}

.links{
    position:relative;
    text-emphasis: bolder;
    font-size:14px;
    top:50px;
    right:235px;
    padding:10px;
    float: right;
    
}
  
input[type=text], select,textarea{
    width: 100%;
    padding:12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom:16px;
    resize: vertical;
}

input[type=submit]{
    background-color:#205E5B;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover{
background-color: #3AABA5;

}

.container{
    /* clear: both; */
    position: relative;
    /* margin-left:80px; */
    /* padding-top: 30px; */
    height:570px;
    width:800;
    background-color: lightgrey;
    /* border-bottom: solid;
    border-color: #4aaaa5;
    border-width:10px; */


}

#marble{
    height:100%;
    width:100%;
    /* top: 0; */
}
.wrapper{
    position: absolute;
    margin-left: 240px;
    margin-top:40px;
    /* padding-top:20px; */
    height:450px;
    width: 960px;
    background-color: #ffffff;
    top: 0;
    padding-left:20px;
    border:1px solid lightgrey;
    /* padding:10px; */

}
h2{
    color: #4aaaa5;
    padding-left:30px;
    /* padding-top: 10px; */
    text-align: left;
}

.row{
    position: relative;
    height:350px;
    width:900px;
    /* background-color:green; */
    padding:10px;
    border-top: solid;
    border-color:#dddddd;
    border-width: 1px;


}
.column{
    margin-left:40px;
    width: 90%;
    margin-top: 12px;
    /* padding:10px; */
    /* background-color: blue; */
}

footer{
    position:fixed;
    width:98.99%;
    /* left: 39px; */
    bottom:0;
    height:50px;
    background-color: #666666;
    border-top:8px solid #4aaaa5;
}

