*{
    box-sizing: border-box;
}
body{
    background-color: white;
    /* border-color: ;
    border-width: 1px; */
}
.top-box{
    position: static;
    background-color: white;
    width: 100%;
    height:100px;
}

h1{
    position: absolute;
    margin: 0, auto;
    font-size: 30px;
    background-color: #4aaaa5;
    color: lightgoldenrodyellow;
    top: 8px;
    left: 250px;
    width: 400px;
    height: 80px;
    text-align: center;
    padding:22px;
    /* padding-left:10px; */


}

.links{
    position:relative;
    text-emphasis: bolder;
    font-size:14px;
    top:50px;
    right:235px;
    padding:10px;
    float: right;
    
}
  

.container{
    clear: both;
    position: relative;
    /* margin-left:80px; */
    /* padding-top: 30px; */
    height:570px;
    width:800;
    background-color: lightgrey;
    /* border-bottom: solid;
    border-color: #4aaaa5;
    border-width:10px; */


}

#marble{
    height:100%;
    width:100%;
    top: 0;


}
.wrapper{
    position: absolute;
    margin-left: 240px;
    margin-top:40px;
    /* padding-top:20px; */
    height:450px;
    width: 960px;
    background-color: #ffffff;
    top: 0;
    border: 1px solid lightgrey;

}


#contact{   
    padding-left: 15px; 
    color:grey;

}
#contact:hover{
    color:#6DF7F0;
}


#portfolio{
    padding-left: 15px;
    padding-right: 15px;
    color:grey;
    border-left: solid;
    border-right:solid;
    border-color: lightgrey;
    border-width:1px;

}
#portfolio:hover{
    color:#6DF7F0;
}

#index{
    padding-right: 15px;
    color:grey;

}
#index:hover{
    color:#6DF7F0;
}
h2{
    color: #4aaaa5;
    padding-left:40px;
    padding-top: 10px;
    text-align: left;
}
.content{
    position:relative;
    width:900px;
    border-top: solid;
    border-color:#dddddd;
    border-width: 1px;
    margin-left: 35px;
    padding-top:20px;

}
#otter{
    margin-left:0px;
    height: 200px;
    width: 300px;
    float: left;
}
p{  
    margin-left: 30px;
    width:520px;
    float: left;
}
footer{
    clear: both;
    display:block;
    position:fixed;
    width:98.99%;
    /* left: 39px; */
    bottom:0;
    height:50px;
    background-color: #666666;
    border-top:8px solid #4aaaa5;
}

