*{
    box-sizing: border-box;
}
body{
    background-color: white;
    /* margin:40px; */

}
.top-box{
    position: static;
    background-color: white;
    width: 100%;
    height:100px;
}

h1{
    position: absolute;
    margin: 0, auto;
    font-size: 30px;
    background-color: #4aaaa5;
    color: whitesmoke;
    top: 8px;
    left: 250px;
    width: 400px;
    height: 80px;
    text-align: center;
    padding:22px;


}

.links{
    position:relative;
    text-emphasis: bolder;
    font-size:14px;
    top:50px;
    right:235px;
    padding:10px;
    float: right;
    
}
  

.container{
    clear: both;
    position: relative;
    /* margin-left:80px; */
    /* padding-top: 30px; */
    height:850px;
    width:800;
    background-color: lightgrey;
    border-bottom: solid;
    border-color: #4aaaa5;
    border-width:10px;

}
    #marble {
        height:100%;
        width:100%;
        /* top: 0; */
    }


    .wrapper{
        position: absolute;
        margin-left: 240px;
        margin-top:40px;
        /* padding-top:20px; */
        height:745px;
        width: 960px;
        background-color: #ffffff;
        top: 0;
        padding-left:20px;
        border:1px solid lightgrey;
        /* padding:10px; */
    
    
    }
    .head{
        /* background-color: lightblue; */
        border-bottom: 1px solid lightgrey;
        margin-right: 5px;
    }
    h2{
        color: #4aaaa5;
        padding-left:30px;
        /* padding-top: 10px; */
        text-align: left;
        border-bottom:1 solid lightgrey;
    }

    .row {
        position: relative;
        width: 960;
        /* border-top: solid;
        border-color:#dddddd;
        border-width: 1px; */
        /* background-color: green; */

    }
   
    img{
        height:200px;
        width:200px;
    }
    .column1 {
        flex: 50%;
        padding: 0 4px;
        width:25%;
        /* margin:20px; */
        position: absolute;
        left:0;
        text-align: center;
        /* background-color: blue; */
      }

#portfolio{
    padding-left: 15px;
    padding-right: 15px;
    color: lightgrey;
    border-left: solid;
    border-right:solid;
    border-color: lightgray;
    border-width:1px;

}
#portfolio:hover{
    color:grey;    
}

#index{
    padding-right: 15px;
    color:lightgrey;

}
#index:hover{
    color:grey;
}
#contact{
    padding-left: 15px;
    color:lightgrey;

}
#contact:hover{
    color:grey;
}
.icon1{
    position: relative;
    margin:10px;
    /* border: 1px solid lightgrey; */
    height:201px;
    width:201px;
}
.hangman{
    height: 200px;
    width:200px;
}
.textblock1{
        position: absolute;
        background-color: #4aaaa5;
        color:white;
        font-weight:bolder;
        padding: 10px;
        height: 40px;
        width:199px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);  
}
.icon2{
    position: relative;
    margin:10px;
    /* border: 1px solid lightgrey; */
    height:201px;
    width:201px;
}
.trivia{
    height: 200px;
    width:200px;
}
.textblock2{
        position: absolute;
        background-color: #4aaaa5;
        color:white;
        font-weight:bolder;
        /* padding-bottom: 10px; */
        height: 40px;
        width:199px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);  
        /* text-align: center; */
}
.icon3{
    position: relative;
    margin:10px;
    /* border: 1px solid lightgrey; */
    height:201px;
    width:201px;
}
.rps{
    height: 200px;
    width:200px;
}
.textblock3{
        position: absolute;
        background-color: #4aaaa5;
        color:white;
        font-weight:bolder;
        padding: 10px;
        height: 40px;
        width:199px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);  
}
.column2{
    flex: 50%;
    padding: 0 4px;
    width:60%;
    /* margin:20px; */
    position: absolute;
    right:100px;
    text-align: center;
    /* background-color: green; */
    
  }

      .icon4{
        position: relative;
        margin:10px;
        /* border: 1px solid lightgrey; */
        height:201px;
        width:201px;
    }
    .rpg{
        height: 200px;
        width:200px;
    }
    .textblock4{
            position: absolute;
            background-color: #4aaaa5;
            color:white;
            font-weight:bolder;
            padding: 10px;
            height: 40px;
            width:199px;
            top:70%;
            left: 50%;
            transform: translate(-50%, -50%);  
    }
    .icon5{
        position: relative;
        margin:10px;
        /* border: 1px solid lightgrey; */
        height:201px;
        width:201px;
    }
    .rutgers{
        height: 200px;
        width:200px;
    }
    .textblock5{
            position: absolute;
            background-color: #4aaaa5;
            color:white;
            font-weight:bolder;
            padding: 10px;
            height: 40px;
            width:199px;
            top:70%;
            left: 50%;
            transform: translate(-50%, -50%);  
    }

footer{
    position:fixed;
    width:98.99%;
    /* left: 39px; */
    bottom:0;
    height:50px;
    background-color: #666666;
    border-top:10px solid #4aaaa5;
}


